.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 80px 50px;
    background-image: url("../../assets/images/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.home .title{
    font-size: 40px;
    margin-bottom: 30px;
}

.home .description{
    font-size: 20px;
    width: 580px;
    margin-bottom: 30px;
}

.home .button{
    background-color: #FF8C38;
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: 700;
}